* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    color: white;
}

body {
    background-color: #101727;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    max-width: 72em;
}

.banner {
    background-color: #17223f;
    text-align: center;
    font-size: 3em;
    max-width: 100%;
}

.information-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
    margin-top: 1em;
    width: 100%;
    overflow-x: auto;
    align-items: stretch;
    padding: 0.5em 0;
}

.info-card {
    background-color: #17223f;
    color: white;
    padding: 0.5em;
    flex: 1 1 0;
    min-width: 110px;
    text-align: center;
    text-wrap: wrap;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 1em;
}